[Unit]
Description=Phosphor-Pid-Control Fan Control Daemon
After=xyz.openbmc_project.nvme.manager.service

[Service]
Type=simple
ExecStart={bindir}/fan-control.sh
Restart=always
RestartSec=5
StartLimitInterval=0
ExecStopPost={bindir}/fan-full-speed.sh

[Install]
WantedBy=basic.target