[Unit]
Description=System unit to hard reset or system reset chassis

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=gpioset gpiochip6 26=1

[Install]
WantedBy=chassis-system-reset.target
